<template>
  <div id="app">
    <img src="./assets/logo.png">
    <home-view></home-view>
  </div>
</template>

<script>
import HomeView from '@/components/home-view.vue'
export default {
  name: 'App',
  components: {
    HomeView
  }
}
</script>

<style>
body{
  margin: 0;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

* {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
          box-sizing: border-box;
}
</style>
