<template>
  <div class="add-item">
    <div class="add-item__overlay" @click="closeForm" v-show="showForm"></div>
    <button class="add-item__show-button" @click="openForm">
      <font-awesome-icon icon="plus" ></font-awesome-icon>
    </button>
    <form class="add-item__form" v-if="showForm" @submit.prevent="addItem">
      <span class="add-item__close-section" @click="closeForm"><font-awesome-icon icon="times"></font-awesome-icon></span>
      <p class="add-item__title">Add a new task</p>
      <div class="compound-field">
        <input class="compound-field__input" type="text" v-model="title" placeholder="Write your task"/>
        <button class="compound-field__button"><font-awesome-icon icon="plus"></font-awesome-icon></button>
      </div>
      <small class="add-item__error-message" v-if="errorForm">Task title is required</small>
    </form>
  </div>
</template>

<script>
export default {
  data: function(){
    return {
      title: '',          // value of the title for the new item
      showForm: false,    // flag to show the form for adding items
      errorForm: false    // flag to show errors of the form
    }
  },
  methods: {
    // emit the add event to the list with the object created
    // id is auto generated with Date.now() to avoid two items with the same value
    addItem: function(){
      if(this.title){
        this.$emit('addItem',{id:Date.now(),title:this.title,completed: false});
        this.closeForm();
      }else{
        this.errorForm = true;
      }
    },
    // shows the form for adding items
    openForm: function(){
      this.resetForm();
      this.showForm = true;
    },
    // hide the form for adding items
    closeForm: function(){
      this.resetForm();
      this.showForm = false;
    },
    resetForm: function(){
      this.errorForm = false;
      this.title = '';
    }
  }
}
</script>

<style lang="scss">
// Flexbox display
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

//colors
$border-color: #ccc;
$checkbox-color: #dec;
$negative-color: red;

.add-item{

  &__show-button{
    padding: 0.5em 1em;
    background: transparent;
    border-radius: 5px;
    font-size: inherit;
    width: 100%;

    &:hover{
      background: $checkbox-color;
      cursor: pointer;
    }
  }

  &__form{
    position: absolute;
    background: white;
    padding: 1em;
    border: 1px solid $border-color;
    margin-top: 1em;
    right: 1em;
    border-radius: 5px;
    width: 280px;
    z-index: 100;

    @media (max-width: 480px){
      position: fixed;
      left: 0;
      right: 0;
      width: 94%;
      margin: 0 3%;
    }
  }

  &__close-section{
    position: absolute;
    right: 1em;
  }
  &__title{
    font-size: 1.5em;
    margin: 0 0.5em;
  }

  &__error-message{
    width: 100%;
    color: $negative-color;
    float: left;
    font-size: 1em;
    padding: 0.5em 1em;
  }

  &__overlay{
    position: fixed;
    background: $border-color;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    opacity: 0.6;
  }

  .compound-field{
    @include flexbox();

    &__input{
      width: 100%;
      float: left;
      font-size: 1em;
      padding: 1em;
      border: 1px solid $border-color
    }

    &__button{
      flex: 1 0 20%;
      font-size: 1em;
      background: transparent;
      border-left: 0;
      &:hover{
        background: $checkbox-color;
        cursor: pointer;
      }
    }
  }
}

</style>
