<template>
  <div class="custom-checkbox">
    <div class="custom-checkbox__container">
      <input type="checkbox" :id="id" class="custom-checkbox__input" :checked="value" :value="value" @input="checkEmit">
      <label :for="id" class="custom-checkbox__label"></label>
    </div>
  </div>
</template>

<script>
export default {
  name: 'custom-checkbox',
  props: ['value','id'], // value of the checkbox and id for each checkbox
  methods:{
    // emit the changes of the value of checkbox
    checkEmit: function($event){
      this.$emit('input', $event.target.checked);
    }
  }
}
</script>

<style lang="scss" scoped>
$checkbox-color: #dec;
$border-color: #ccc;

.custom-checkbox{
  float: none;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 1em;
  vertical-align: middle;

  &__container{
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 1em;
  }
  &__input{
    display: none;
  }
  &__label{
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border-radius: 5px;
    border: 3px solid $border-color;

    &:after{
      left: 2px;
      top: 2px;
      width: 16px;
      height: 16px;
      border: 2px solid transparent;
      border-radius: 5px;
      position: absolute;
      background: $checkbox-color;
    }
  }

  &__input:checked ~ &__label{
    background: transparent;
    border-color: $checkbox-color;

    &:after{
      content: "";
      display:block;
    }
  }
}
</style>
