<template>
  <div class="container">
    <div class="menu">
      <search-box @search="searchItems"></search-box>
    </div>
    <todo-list :title="listTitle" @addItem="addItem" :errors="errorsList">
      <li is="todo-item"
          v-for="(item,index) in filteredItems"
          :key="item.id"
          :item="item"
          :index="index"
          @deleteItem="deleteItem">
      </li>
    </todo-list>
    <div v-if="filteredItems && filteredItems.length > 0" class="todo-options">
      <label class="todo-options__option">Showing {{filteredItems.length}} tasks.</label>
      <div class="todo-options__option">
        <custom-checkbox v-model="showChecked" :id="'showChecked'"></custom-checkbox>
        <label for="showChecked" class="showChecked__label">Show completed</label>
      </div>
    </div>
  </div>
</template>

<script>
import SearchBox from '@/components/search-box';
import TodoList from '@/components/todo-list';
import TodoItem from '@/components/todo-item';
import CustomCheckbox from '@/components/custom-checkbox';
import api from '@/api/index';

var components = {
  SearchBox,
  TodoList,
  TodoItem,
  CustomCheckbox
}

export default {
  name: 'home-view',
  components: components,
  data: function() {
    return {
      querySearched:'',           // query to be searched in the list
      listTitle: "TO-DO list",    // title of the list
      items: [],                  // items received from API request
      errors: [],                 // errors to be shown, elements are strings with the error message
      showChecked: true,          // flag for showing checked items
      activeUserId: 1             // current active used id
    }
  },
  computed:{
    // filter by the search query, if we have checked the "showChecked" checkbox and filtering by userId
    filteredItems: function(){
      if(this.items){
        return this.items.filter(item => item.title.toLowerCase().includes(this.querySearched) && !(!this.showChecked && item.completed) && item.userId === this.activeUserId);
      }else{
        return null;
      }
    },
    // Wrap all the posible errors related with items to be sent to the list.
    // Errors:
    // - No items
    // - No items for this query in the search box
    // - No items because of an error with the API
    errorsList: function(){
      var errs = []
      if(!this.filteredItems){
        errs.push("There is a problem getting tasks");
      }else{
        if(this.filteredItems.length === 0){
          this.querySearched ? errs.push("There is no task with title like '"+this.querySearched+"'") : errs.push("There is no task at this moment");
        }
      }
      return errs;
    }
  },
  methods:{
    // It receives the event from SearchBox component with the query for searching
    searchItems: function(query){
      this.querySearched = query;
    },
    // It receives the event from AddItem component for adding a new object sent in the event
    // At this step, we include the selected userId
    addItem: function(obj){
      obj.userId = this.activeUserId;
      this.items.push(obj);
    },
    // It receives the event from the item in list to delete the element in the list by id
    deleteItem: function(event){
      this.items = this.items.filter(item => item.id !== event.id);
    }
  },
  created() {
    api.getTasks()
      .then(items => this.items = items)
      .catch(error => this.items = null); // If items is null => filteredItems is null (computed) => ErrorsList (computed) will include the error
  }
}
</script>

<style lang="scss">
// Flexbox display
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around
@mixin justify-content($justify) {
  -webkit-justify-content: $justify;
     -moz-justify-content: $justify;
      -ms-justify-content: $justify;
          justify-content: $justify;
            -ms-flex-pack: $justify;
}
// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
     -moz-flex-direction: $direction;
      -ms-flex-direction: $direction;
          flex-direction: $direction;
}

.container{
  margin: 0 auto;
  width: 95%;
  max-width: 768px;
}
.menu {
  float: left;
  width: 100%;
  padding: 0 1em;
}

.todo-options{
  @include flexbox();
  @include justify-content(space-between);
  width:100%;
  padding: 1em;

  @media (max-width: 480px){
    @include flex-direction(column);
  }

  &__option{
    margin-bottom: 1em;
  }
}
</style>
