<template>
  <div class="search-box">
    <font-awesome-icon class="search-box__icon search-box__icon--search" icon="search" v-if="query === ''"></font-awesome-icon>
    <font-awesome-icon class="search-box__icon search-box__icon--reset" icon="times" v-if="query !== ''" @click="resetQuery"></font-awesome-icon>
    <input class="search-box__input" type="text" placeholder="Search task" v-model="query" @keyup="changeQuery"/>
  </div>
</template>

<script>
export default {
  name: 'search-box',
  data: function(){
    return {
      // text for searching
      query:''
    }
  },
  methods: {
    // manage the changes of the query emitting the event
    changeQuery: function(){
      this.$emit('search',this.query);
    },
    // set the query initial value
    resetQuery: function(){
      this.query = '';
      this.changeQuery();
    }
  }
}
</script>

<style lang="scss" scoped>
$border-color: #ccc;

.search-box{
  float:left;
  width: 100%;
  position: relative;

  &__icon{
    position: absolute;
    font-size: 1em;
    left: 1.2em;
    top: 1.2em;
  }
  &__input{
    width:100%;
    line-height: 1em;
    font-size: 1em;
    padding: 1em;
    padding-left: 3em;
    border-radius: 5px;
    border: 1px solid $border-color;
  }
}
</style>


