<template>
  <div class="todo-list">
    <p class="todo-list__title" v-if="title">{{title}}</p>
    <div class="todo-list__options-menu">
      <add-item @addItem="addItem"></add-item>
    </div>
    <p v-for="(error,index) in errors" :key="index">{{error}}</p>
    <ul class="todo-list__container" v-if="errors.length === 0">
      <slot></slot>
    </ul>
  </div>
</template>


<script>
import AddItem from '@/components/add-item';

export default {
  name: 'todo-list',
  components: {AddItem},
  props: {
    // title of the list
    title: {
      required: true
    },
    // errors to be shown in the list
    errors: {
      required:true
    }
  },
  methods:{
    // emit the add event from AddItem element to be catched by the list
    addItem: function(obj){
      this.$emit('addItem', obj);
    }
  }
}
</script>

<style lang="scss">
$border-color: #ccc;

.todo-list{
  float:left;
  width:100%;
  padding:1em;
  position: relative;

  &__title{
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    @media (max-width: 480px){
      text-align: left;
    }
  }

  &__options-menu{
    position: absolute;
    right: 1em;
    top: 1em;
    width: 3em;
    font-size: 1em;
  }

  &__container{
    padding: 1em;
    margin: 0;
    border: 1px solid $border-color;
    border-radius: 5px;
    max-height: 50vh;
    overflow: scroll;

  }
}
</style>

