<template>
  <label class="todo-item" :class="{'todo-item--completed':item.completed}" :for="item.id" >
    <custom-checkbox v-model="item.completed" class="todo-item__checkbox" :id="item.id"></custom-checkbox>
    <label :for="item.id" class="todo-item__title">{{item.title}}</label>
    <button v-if="!item.completed" class="todo-item__button" @click="deleteItem()">
      <font-awesome-icon icon="trash" ></font-awesome-icon>
    </button>
  </label>
</template>


<script>
import CustomCheckbox from '@/components/custom-checkbox';

export default {
  name: 'todo-item',
  components: {CustomCheckbox},
  props: {
    //item of the list to be shown
    item: {
      required: true
    }
  },
  methods: {
    // delete the item in the list emitting the id
    deleteItem: function(){
      this.$emit('deleteItem',{id: this.item.id});
    }
  }
}
</script>

<style lang="scss" scoped>
// Flexbox display
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
// The 'flex' shorthand
// - applies to: flex items
// <positive-number>, initial, auto, or none
@mixin flex($values) {
  -webkit-box-flex: $values;
     -moz-box-flex: $values;
      -webkit-flex: $values;
  	  -ms-flex: $values;
  	      flex: $values;
}

// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch
@mixin align-items($align) {
  -webkit-align-items: $align;
     -moz-align-items: $align;
      -ms-align-items: $align;
          align-items: $align;
}

$border-color: #ccc;
$checkbox-color: #dec;

.todo-item{
  font-size: 1em;
  text-align: left;
  margin-bottom: 1em;
  padding: 1em;
  border: 1px solid $border-color;
  border-radius: 5px;
  line-height: 2em;
  float: left;
  width: 100%;
  @include flexbox();
  @include align-items(center);

  .custom-checkbox{
    @include flex(none);
  }

  &__title{
    font-weight: bold;
    vertical-align: middle;
    @include flex(auto);
  }

  &__button{
    border-radius: 5px;
    padding: 0.4em 1.5em;
    float: right;
    font-size: 1em;
    border:0;
    background-color: transparent;

    &:hover{
      background:$checkbox-color;
      cursor: pointer;
    }

    @media (max-width: 640px){
      padding: 0.5em;
    }
  }

  &--completed{
    background: $border-color;

    .todo-item__title{
      text-decoration: line-through;
      color: lighten($color: $border-color, $amount: 10);
    }
  }
}

</style>
