<template>
  <div id="app">
    <h1 class="title">Frontend Challenge GOI - Ismael Medina Muñoz</h1>
    <home-view></home-view>
  </div>
</template>

<script>
import HomeView from '@/components/home-view.vue'

export default {
  name: 'App',
  components: {
    HomeView
  }
}
</script>

<style lang="scss">
body{
  margin: 0;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.title{
  padding: 0.5em;
}

* {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
          box-sizing: border-box;
}
</style>
